#root {
  max-width: 1280px;
}

* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; 
  margin: 0;
  padding: 0;
}

body,
html {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}